# Build-Ordner
target/
out/
build/

# IDEs
.idea/
.mvn/
.vscode/
.settings/
.project
.classpath
*.iml
*.iws
*.ipr

# Betriebssysteme
.DS_Store
Thumbs.db

# DB
*.db
*.db-journal

# Maven Wrapper Scripte
mvnw
mvnw.cmd